/* Variable */
:root {
	--image-path: url("imgage-file-name");
	--top-bar-opacity: 0.6;
	--library-opacity: 0.3;
}

/* Background */
body.DesktopUI div._3mz8wQ6Q44B8P7pzPP4Iyw {
	background: var(--image-path) center / cover !important;
}

/* Top bar */
body.DesktopUI div._3Z7VQ1IMk4E3HsHvrkLNgo {
	background-color: rgba(0, 0, 0, var(--top-bar-opacity)) !important;
}

/* Library */
body.DesktopUI div._3xRRJfD2xy95i9NhJxLTp0 {
	background-color: rgba(0, 0, 0, var(--library-opacity)) !important;
}

body.DesktopUI div._3xRRJfD2xy95i9NhJxLTp0 div._3x1HklzyDs4TEjACrRO2tB /* Sidebar */,
body.DesktopUI div._3xRRJfD2xy95i9NhJxLTp0 div._2Dd4T78PcCTUVgOtDGFY5j /* Content */,
body.DesktopUI div._3xRRJfD2xy95i9NhJxLTp0 div._17uEBe5Ri8TMsnfELvs8-N /* News */,
body.DesktopUI div._3xRRJfD2xy95i9NhJxLTp0 div._3Sb2o_mQ30IDRh0C72QUUu /* New shelf */,
body.DesktopUI div._2iE-78WxX2Pj4GHbq7YJiA div._3FmxxjyWNHU1PrBGnBe6tm /* Game Content */,
body.DesktopUI div._2iE-78WxX2Pj4GHbq7YJiA div._27RcNu8aXKBpYkHcNNrt-X,
body.DesktopUI div._2iE-78WxX2Pj4GHbq7YJiA div.Jbe--NUNw7sxbxGsMSjVa ,
._2sNr7PFYcJZWNkEMCDVVPR /* Category */ {
	background: transparent !important;
}

/* Game list */
body.DesktopUI
	div._3x1HklzyDs4TEjACrRO2tB
	> div._1ijTaXJJA5YWl_fW2IxcaT::before,
body.DesktopUI div._3x1HklzyDs4TEjACrRO2tB > div._1ijTaXJJA5YWl_fW2IxcaT::after,
body.DesktopUI
	div._1ijTaXJJA5YWl_fW2IxcaT
	div.ReactVirtualized__Grid__innerScrollContainer::before,
body.DesktopUI
	div._1ijTaXJJA5YWl_fW2IxcaT
	div.ReactVirtualized__Grid__innerScrollContainer::after {
	height: 0 !important;
}

/* Divider between sidebar and content */
body.DesktopUI div._276E6ijBpjMA2_iTxNhhjc {
	box-shadow: inset 1px 0 rgba(255, 255, 255, 0.2) !important;
}
